/*Style para recetas */

:root {
    --primary: #ff8a65; /* light orange */
    --secondary: #ffab91; /* peach */
    --background: #fff8e1; /* very light cream */
    --text: #4e342e; /* dark brown */
    --accent: #ef6c00; /* dark orange */
    --light: #ffffff; /* white */
    --border: #fff8e1; /* light peach */
    --shadow: rgba(0,0,0,0.15); /* lighter shadow */
}

/* Resetear margins */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----------Pagina Principal y Secundaria, font, header---------- */
body {
    font-family: Tahoma, sans-serif;
    background: var(--background); /* using variables */
    color: var(--text);
    padding: 25px;
}

header {
    margin-bottom: 20px;
    text-align: center;
    border-radius: 25px;
    background-color: #c5d99b ;
    border: 1px solid var(--border);
    padding: 20px;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0 8px 20px var(--shadow);
    
}
/*---------lUGAR DE RECETAS PRINCIPAL (Index)---------------*/

.Listado-recetas-principal {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 15px;
    
}

.receta-carta-principal {
    cursor: pointer;

}

.cuerpo-carta-principal {
    
    text-align: center;
    background-color: var(--light);
    filter:brightness(0.97);
    border-radius: 25px;   
    border: 1px solid var(--border);
    padding: 20px;
    box-shadow: 0 0px 20px var(--shadow);
    text-wrap: balance;
}

.cuerpo-carta-principal h2 {
    margin: 5px 10px;
}

.cuerpo-carta-principal:hover {
    transform: scale(1.01);
    box-shadow: 0 15px 30px var(--shadow);
    filter:brightness(1.0);
}

/*---------lUGAR DE RECETAS SECUNDARIAS  ---------------*/


.Listado-recetas-secundarias {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 20px;
    align-items: stretch;
}


.receta-carta-secundaria {
    cursor: pointer;
    height: 100%;
}
/* Contenido */
.cuerpo-carta-secundaria {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--light);
    filter:brightness(0.97);
    border-radius: 25px;   
    border: 1px solid var(--border);
    padding: 20px;
    box-shadow: 0 0px 20px var(--shadow);
    height: 100%;
    text-wrap: balance;
}
.cuerpo-carta-secundaria h2 {
    margin: 5px 10px;
}
.cuerpo-carta-secundaria p {
    flex-grow: 1;
    margin-bottom: 15px;
}
.cuerpo-carta-secundaria:hover {
    transform: scale(1.01);
    box-shadow: 0 15px 30px var(--shadow);
    filter:brightness(1.0);
}
.boton-link {
    display: inline-block;
    background-color: #db861ec9;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.boton-link:hover {
    background-color: #db861ec9;
    transform: scale(1.05);
    box-shadow: 0 10px 20px var(--shadow);
}
.boton-volver {
    top: 45px;
    left: 40px;
    position: fixed;
    z-index: 1000;
    background-color: #4c3b26c9;    
    color: white;
    padding: 10px 20px;
    border-radius: 23px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

.boton-volver:hover  {
    background-color: #856742c6;
    transform: scale(1.01);
    box-shadow: 0 15px 30px var(--shadow);
}






/* Pie de página */
.site-footer {
    text-align: center;
    margin-top: 30px;
    border-radius: 25px;
    background-color: #c5d99b ;
    border: 1px solid var(--border);
    padding: 5px;
}


/* Responsive */
@media (max-width: 768px) {
    .recipe-list {
        grid-template-columns: 1fr;
    }
}

